*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.page{
    height: 100vh;
    background-color: rgb(143, 221, 237);
}
.header{
    padding: 0px 2%;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(108, 108, 108);
}

.logo{
    width: 250px;
    height: 75px;
}
.list{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
.header-text{
    font-size: 1.35rem;
    text-decoration: none;
    color: #000000;
}
.page-text{
    padding: 0px 2%;
    margin-top: 30px;
}